*.user
*.aeproperties
.vs/
*.tmp
*.Generated.cs
*.Generated.Event.cs
*.generatedpreview.png
TiledObjects.Generated.xml
*.cachefile
*.csvSettings
*.sln.metaproj
packages/
PixelDungeonJam/PixelDungeonJam/bin/
PixelDungeonJam/bin/
PixelDungeonJam/PixelDungeonJam/obj/
PixelDungeonJam/obj/
PixelDungeonJam/Content/obj/
!PixelDungeonJam/x64
!PixelDungeonJam/x86
!PixelDungeonJam/Libraries
